.header {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react {
  margin: 20px auto;
}

.react h2 {
  text-decoration: underline;
  text-align: center;
}

.container {
  margin: auto;
  max-width: max-content;
}

.description {
  margin: 3px auto;
  text-align: center;
}

/* Css for Filterable Products Table */
.filterableProductTable {
  margin: 20px auto;
  max-width: 350px;
}

.searchBar {
  border: 1px solid grey;
  padding: 10px;
}

.search {
  margin: 10px;
}
.search label {
  margin-right: 5px;
  font-size: 0.8rem;
}

.productTable {
  border: 1px solid green;
}

/* CSS for Modal Section */
#modalBtn {
  padding: 12px 24px;
  background-color: royalblue;
  margin: 15px auto;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: center;
}

#modalBtn:hover {
  opacity: 0.8;
}

#myModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hooks section */
.hooks {
  margin: 20px auto;
  padding: 20px;
}

.disclaimer {
  font-size: 0.8em;
  color: red;
  text-align: center;
}

/* Progress Bar section */
.progressBar-container {
  width: max-content;
  margin: auto;
}

.loadBtn {
  padding: 12px 24px;
  background-color: forestgreen;
  margin: 15px auto;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-weight: bold;
}
.loadBtn:hover {
  opacity: 0.8;
}

.progress-bar-wrapper {
  width: 500px;
  height: 50px;
  background-color: fireBrick;
  margin: 20px 0;
}
.progress-bar {
  height: 100%;
  width: 0%;
  background-color: orange;
}

/* react itw question */
.twittImg {
  width: 500px;
  margin: auto;
  display: block;
}
#itw1 {
  margin: 10px auto;
  width: fit-content;
  line-height: 1.5;
}
